import /init.recovery.samsung.rc

on early-init
    mkdir /mnt/vendor/efs 0771 radio system
    mkdir /mnt/vendor/cpefs 0771 radio system
    mkdir /mnt/vendor/persist 0771 system system

on init
    write /proc/sys/kernel/hung_task_timeout_secs 0
    export LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    start boot-hal-1-2

on boot
    start health-hal-2-1

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start keymint-exynos
    start gatekeeper-exynos
    start vaultkeeper_aidl
    start vaultkeeper
    start vaultkeeper_hal

on property:vendor.sys.listeners.registered=true
    start keymint-exynos
    start gatekeeper-exynos
    start vaultkeeper_aidl
    start vaultkeeper
    start vaultkeeper_hal

on property:twrp.decrypt.done=true
    stop tz_service
    stop tzts_service
    stop sem_daemon
    stop keymint-exynos
    stop gatekeeper-exynos
    stop vaultkeeper_aidl
    stop vaultkeeper
    stop vaultkeeper_hal

on property:twrp.all.users.decrypted=true
    stop tz_service
    stop tzts_service
    stop sem_daemon
    stop keymint-exynos
    stop gatekeeper-exynos
    stop vaultkeeper_aidl
    stop vaultkeeper
    stop vaultkeeper_hal

on property:ro.crypto.state=unsupported
    stop tz_service
    stop tzts_service
    stop sem_daemon
    stop keymint-exynos
    stop gatekeeper-exynos
    stop vaultkeeper_aidl
    stop vaultkeeper
    stop vaultkeeper_hal